<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Wooyeon Email Authentication</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body style="font-family: Pretendard, Arial, sans-serif; font-size: 14px">
    <!-- OUTERMOST CONTAINER TABLE -->
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      id="bodyTable"
    >
      <tr>
        <td align="center">
          <!-- 600px CONTENTS CONTAINER TABLE -->
          <table border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
              <td bgcolor="#9B4FFB" height="7"></td>
            </tr>
            <tr>
              <td
                style="
                  padding-left: 40px;
                  padding-right: 40px;
                  padding-top: 70px;
                "
              >
                <img
                  src="cid:wooyeonLogoImage"
                  alt="우연"
                  width="90"
                  height="40"
                  align="left"
                />
              </td>
            </tr>
            <tr>
              <td
                style="
                  padding-left: 40px;
                  padding-right: 40px;
                  padding-top: 4px;
                "
              >
                <p
                  class="title"
                  align="left"
                  style="font-size: 32px; color: #1d1d1d; margin-top: 5px"
                >
                  <span
                    class="highlight"
                    style="color: #9b4ffb; font-weight: bold"
                    >메일 인증</span
                  >
                  안내입니다
                </p>
                <p
                  style="
                    padding-top: 5px;
                    line-height: 2;
                    font-size: 18px;
                    font-weight: 300;
                    color: #444444;
                  "
                >
                  우연을 이용해주셔서 감사드립니다. <br />
                  아래의 버튼을 눌러 회원가입을 진행해주세요!
                </p>
              </td>
            </tr>
            <tr>
              <td
                style="
                  padding-left: 40px;
                  padding-right: 40px;
                  padding-top: 24px;
                  text-align: center;
                "
              >
                <a href="intent://email_auth?token=afalkehrjqwlekqwe234#Intent;scheme=wooyeon;end"
                  class="button"
                  style="
                    display: inline-block;
                    background-color: #9b4ffb;
                    color: #ffffff;
                    font-weight: bold;
                    padding: 20px;
                    text-align: center;
                    width: 313px;
                    height: 24px;
                    line-height: 24px;
                    border-radius: 32px;
                    cursor: pointer;
                    text-decoration: none;
                    font-size: 18px;
                  ">인증하기</a>
              </td>
            </tr>
            <tr>
              <td style="padding-top: 50px">
                <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  style="
                    margin-left: 40px;
                    margin-right: 40px;
                    border-bottom: 1px solid #adadad;
                    width: calc(100% - 80px);
                  "
                >
                  <tr>
                    <td height="2px"></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td
                style="
                  padding-left: 40px;
                  padding-right: 40px;
                  padding-top: 20px;
                  padding-bottom: 20px;
                  color: #9b9b9b;
                  font-size: 14px;
                "
              >
                본 메일은 발신 전용입니다.<br/>
                회원가입을 본인이 진행하지 않았다면
                <a
                  href="mailto:wooyeon2307@gmail.com"
                  class="highlight"
                  style="color: #9b4ffb"
                  >도용신고</a>로 문의해주시기 바랍니다.
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>